﻿.logo img { float:left; margin-top:-10px; margin-bottom:5px;}

.titulo {margin-bottom:30px;}

.left {float:left !important;}

.right {float:right !important;}

.wtxt {max-width: 400px!important;}

.margin {margin:10px;}

.alinhaBtn { margin-top:10px;}

.filUpload {margin-top:10px;}

.btnImport {margin-top: 10px;}

.BtnVerLanc{ padding-left:10px;}

.verLanc {width:94%; background-color:#F3F3F3; margin-top:20px; margin-left:30px; border-radius:3px; border:1px solid #d0d0d0 }

.marginTop {margin-top:10px;}

.marginRightfunc{margin-right:10px !important}

.bg-azul {background:#5d9cec !important;  margin-top:-20px}

.margin-flt-lanc { margin-left:30px}

.margin-flt-lanc-obs { margin-left:25px}

.topTen{margin-top:10px}

.logado {float: right;height:30px; width:auto; margin-top:18px}

.LogOff{font-size:14px; color: #FFFFFF;}

.LogOff:hover{color: #459c6e;}

.loadImage{ margin-top:10px; margin-left:10px;}