﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master/Master.Master" AutoEventWireup="true" CodeBehind="Dashboard.aspx.cs" Inherits="PontoSPSWeb.WebForms.Dashboard" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    
    <h4 class="page-title titulo">Dashboard - Em Construção</h4>
     
    <!-- jQuery  -->
        <script src="../js/jquery.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/detect.js"></script>
        <script src="../js/fastclick.js"></script>

</asp:Content>
